<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
상품명 : <input type="text" th:value="${productDTO.name}" readonly><br>
가격 : <input type="text" th:value="${productDTO.price}" readonly><br>
브랜드 : <input type="text" th:value="${productDTO.brand}" readonly><br>


<a href="/mainPr">메인으로</a>
<a href="">구매하기</a>
<a href="">장바구니</a>
<a href="">찜하기</a><br>

<!-- 상품 이미지 출력 -->
<th:block th:each="imgList : ${productDTO.imageDTOList}" style="display=flex;">
    <th:block th:if="${imgListStat.count} <= 5">
    <img width="200px" height="200px" th:src="|/productImg?fileName=${imgList.getProductImgURL(imgListStat.index)}|">
    </th:block>
    </th:block>

<!-- 재고 확인 -->
<div th:each="sizeList : ${sizeDTO}">
    [[${sizeList.size}]] | 재고(수량) <span th:text="${sizeList.amount} > 0 ? 구매가능 : 구매불가"></span>
</div>

</body>
</html>